.browserStack {
  position: absolute !important;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

body {
  border-radius: 12px 12px 0px 0px !important;
}

#main-window[sizemode="maximized"]  body {
  border-radius: 0px 0px 0px 0px !important;
}

/* kolor tła i zaokrąglone rogi dla paska kart */
#TabsToolbar {
  background-color: #222222FF !important;
  border-radius: 12px 12px 0px 0px !important;
}

/* kilka elementów przeglądarki wymaga absolutnej pozycji, w przeciwnym wypadku będą niewidoczne */
.devtools-toolbox-bottom-iframe {
  position: absolute;
}

/* ukrywanie górnego paska w normalnym oknie */
#navigator-toolbox {
  position: absolute;
  margin-top: -70px;
  opacity: 0;
  transition: all 200ms;
  z-index: 2;
  width: 100%;
}
 
#navigator-toolbox:hover {
  position: absolute;
  margin-top: 0px;
  opacity: 1;
  transition: all 200ms;
  transition-delay: 100ms;
  border-radius: 9px 9px 0px 0px !important;
}

/* ukrywanie górnego paska przy zmaksymalizowanym oknie */
#main-window[sizemode="maximized"] #navigator-toolbox {
  position: absolute;
  margin-top: -84px;
  opacity: 1;
  transition: all 200ms;
  border-radius: 0px 0px 0px 0px !important;
}
 
#main-window[sizemode="maximized"] #navigator-toolbox:hover {
  position: absolute;
  margin-top: 0px;
  opacity: 1;
  transition: all 200ms;
  transition-delay: 100ms;
  border-radius: 0px 0px 0px 0px !important;
}

/* ukrywanie bocznego panelu w normalnym oknie */
#sidebar-box {
  display: flex !important;
  flex-direction: column !important;
  position: fixed !important;
  max-width: 270px !important;
  min-width: 270px !important;
  width: 270px !important;
  left: auto !important;
  right: -250px !important;
  top: 0 !important;
  bottom: 0 !important;
  background-color: #303030FF !important;
  z-index: 1 !important;
  transition: all 200ms;
  opacity: 0;  
  border-radius: 0px 12px 0px 0px !important;
}

#sidebar-box:hover {
  right: 0px !important;
  opacity: 1;
  transition: all 200ms;
  transition-delay: 100ms;
  border-radius: 0px 12px 0px 0px !important;
}

/* ukrywanie bocznego panelu w zmaksymalizowanym oknie */
#main-window[sizemode="maximized"] #sidebar-box {
  max-width: 270px !important;
  min-width: 270px !important;
  transition: all 200ms;
  background-color: #303030FF !important;
  display: flex !important;
  position: absolute !important;
  width: 270px !important;
  left: auto !important;
  right: -269px !important;
  top: 0 !important;
  bottom: 0 !important;
  flex-direction: column !important;
  z-index: 1 !important;
  border-radius: 0px 0px 0px 0px !important;
}

#main-window[sizemode="maximized"] #sidebar-box:hover {
  right: 0px !important;
  transition: all 200ms;
  transition-delay: 100ms;
}

/* wyłączenie tytułu bocznego panelu */
#sidebar-header {
  display: none;
}

/* wyłączenie granicy między panelem bocznym a oknem strony tylko w zmaksymalizowanym oknie*/
#sidebar-splitter {
  display: none;
}
#main-window[sizemode="maximized"] #sidebar-splitter {
  display: none;
}

/* rozmiar czcionki w zakładkach */
#bookmarks-view {
  font-size: 16px;
}

/* odstępy między zakładkami */
.bookmark-item[container], treechildren::-moz-tree-row {
  margin: 8px 0px 0px 0px !important;
}

/* rozmiar ikon zakładek */
.bookmark-item[container], treechildren::-moz-tree-image {
  width: 20px !important;
  height: 20px !important;
  padding-right: 10px !important;
}
